<div class="space-y-1">
  <form
    [formGroup]="form"
    (ngSubmit)="login()"
    class="max-w-md w-full mx-auto flex flex-col rounded border border-none mt-8 shadow px-4 bg-white py-4 space-y-4 text-md"
  >
    <p class="inline text-[25px] text-sky-400">
      L<span class="text-[15px] text-fuchsia-500">og-in</span>
    </p>
    <div class="space-y-0.5">
      <div class="sm:grid sm:grid-cols-[80px_1fr]">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          placeholder="example@gmail.com"
          class="border border-gray-400 rounded bg-white placeholder:text-gray-400 px-2 py-1 outline-none focus:border-blue-400 focus:ring-1 focus:ring-blue-400"
        />
      </div>
      @if (c.email.touched && c.email.invalid) {
      <small class="ml-20 w-full block text-red-600">
        @if (c.email.errors?.['required']) {Email is required} @if (c.email.errors?.['email'])
        {Invalid email} @if (c.email.errors?.['server']){
        {{c.email.errors?.['server']}}
        }
      </small>
      }
    </div>
    <div class="space-y-0.5">
      <div class="sm:grid sm:grid-cols-[80px_1fr]">
        <label for="password">Password</label>
        <div class="relative">
          <input
            id="password"
            [type]="pV() ? 'text' : 'password'"
            formControlName="password"
            placeholder="****"
            class="border w-full border-gray-400 rounded bg-white placeholder:text-gray-400 px-2 py-1 outline-none focus:border-blue-400 focus:ring-1 focus:ring-blue-400"
          />
          <button
            type="button"
            (mousedown)="$event.preventDefault()"
            class="absolute right-1 bottom-1.5"
            (click)="pVC()"
          >
            {{ pV() ? '😗' : '😎' }}
          </button>
        </div>
        <div class="col-start-2 flex justify-end
        cursor-pointer hover:underline
        ">
          <span class="text-[11px] text-gray-400" routerLink="/auth/verify"
            >Forgot-password?</span
          >
        </div>
      </div>

      @if (c.password.touched && c.password.invalid) {
      <small class="ml-20 block text-red-600">
        @if (c.password.errors?.['required']) {Password is required} @if
        (c.password.errors?.['minLength']) {Mustt be at least 6} @if (c.password.errors?.['server'])
        {
        {{c.password.errors?.['server']}}
        }
      </small>
      }
    </div>
    <button
      type="submit"
      class="hover:bg-sky-500 transition-transform hover:scale-105 self-center cursor-pointer border border-none rounded bg-sky-400 text-white w-fit shadow px-2 pb-1 pt-0.5"
    >
      Log-in
    </button>
  </form>
  <span class="text-sm text-white ml-10"
    >Don't have an account?
    <span
      routerLink="/auth/register"
      class="inline-block transition-transform underline underline-offset-4 decoration-1 text-sky-500 hover:scale-110 cursor-pointer decoration-sky-500"
      >Register here!</span
    >
  </span>
</div>
