@defer (on viewport) { @if (vm$ | async; as v) {
<div class="mx-5 pb-5">
  @if (v.e) {
  <div class="flex bg-[#FBFBFB] flex-col w-fit sm:w-fit shadow rounded px-5 pb-7 pt-4 mx-auto">
    <div class="flex justify-between items-start">
      <p class="font-semibold text-[20px] mb-5">Edit Student</p>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="save()"
      class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 sm:gap-x-20 gap-y-5"
    >
      <div class="grid grid-cols-[80px_1fr] items-center">
        <label for="name" class="text-sm font-medium">Name</label>
        <input
          id="name"
          formControlName="name"
          [disabled]="saving()"
          class="rounded border outline-none border-gray-300 shadow focus:border-blue-400 focus:ring-1 focus:ring-blue-400 px-2 pb-0.5 text-sm w-50"
        />
      </div>

      <div class="grid grid-cols-[80px_1fr] items-center">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          id="email"
          formControlName="email"
          [disabled]="saving()"
          class="rounded border outline-none border-gray-300 shadow focus:border-blue-400 focus:ring-1 focus:ring-blue-400 px-2 pb-0.5 text-sm w-50"
        />
      </div>

      <div class="grid grid-cols-[80px_1fr] items-center">
        <label for="address" class="text-sm font-medium">Address</label>
        <textarea
          id="address"
          formControlName="address"
          rows="3"
          [disabled]="saving()"
          class="rounded border outline-none border-gray-300 shadow focus:border-blue-400 focus:ring-1 focus:ring-blue-400 px-2 pb-0.5 text-sm w-50"
        ></textarea>
      </div>

      <div class="grid grid-cols-[80px_1fr] items-center">
        <label for="phone" class="text-sm font-medium">Phone</label>
        <input
          id="phone"
          formControlName="phone"
          [disabled]="saving()"
          class="rounded border outline-none border-gray-300 shadow focus:border-blue-400 focus:ring-1 focus:ring-blue-400 px-2 pb-0.5 text-sm w-50"
        />
      </div>

      <div class="grid grid-cols-[80px_1fr] items-center">
        <label for="gender" class="text-sm font-medium">Gender</label>
        <select
          id="gender"
          formControlName="gender_id"
          class="w-40 sm:w-48 text-sm t w-50 border rounded border-gray-300 shadow outline-none focus:border-blue-400 focus:ring-1 focus:ring-blue-400 pb-0.5 px-2"
        >
          <option value="" class="text-sm">Select a gender</option>
          @for (g of v.g; track g.id) {
          <option [ngValue]="g.id">{{ g.gender }}</option>
          }
        </select>
      </div>

      <div class="grid grid-cols-[80px_1fr] items-center">
        <label for="status" class="text-sm font-medium">Status</label>
        <select
          id="status"
          formControlName="status"
          class="text-sm w-50 border rounded border-gray-300 shadow outline-none focus:border-blue-400 focus:ring-1 focus:ring-blue-400 pb-0.5 px-2"
        >
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>
      <div class="flex gap-2">
        <button
          type="submit"
          [disabled]="saving()"
          class="border rounded px-2 text-sm pb-0.5 bg-green-300 border-none shadow hover:bg-green-400 hover:text-white"
        >
          {{ saving() ? 'Saving..' : 'Save' }}
        </button>
        <button
          type="button"
          class="border rounded px-1 text-sm pb-0.5 bg-gray-400 text-white border-none shadow hover:bg-gray-500"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
  } @else {
  <div
    class="flex flex-col bg-[#FBFBFB] w-full shadow sm:w-auto max-w-full sm:max-w-xl shadow rounded px-5 pt-4 pb-2 mx-auto"
  >
    <div class="flex justify-between">
      <span
        class="text-right w-fit rounded shadow px-1 py-0.5 text-sm"
        [class.bg-green-300]="v.s.status"
        [class.bg-red-200]="!v.s.status"
        >{{ v.s.status ? 'Active' : 'Inactive' }}</span
      >
      <div class="flex items-center gap-x-4">
        @if (flash()) {
        <p
          class="text-sm border border-none shadow rounded bg-green-200 px-2 py-0.5"
          [ngClass]="{
            'bg-red-400': flash() === 'Status is Inactive' || flash() === 'Course is full!',
            'text-white': flash() === 'Status is Inactive' || flash() === 'Course is full!'
          }"
        >
          {{ flash() }}
        </p>
        }
        <div class="flex gap-4">
          <button
            class="inline-flex justify-center items-center bg-green-200 rounded text-[16px] hover:scale-110 px-0.5 py-0.5 cursor-pointer"
            (click)="onClick()"
          >
            <ng-icon name="heroPencilSquare"></ng-icon>
          </button>
          @if (v.j) {
          <button
            class="inline-flex justify-center items-center bg-green-200 rounded text-[16px] hover:scale-110 px-0.5 py-0.5 cursor-pointer"
            (click)="cancelJoin()"
          >
            <ng-icon name="heroArrowUturnLeft"></ng-icon>
          </button>
          }@else {
          <button
            class="inline-flex justify-center items-center bg-green-200 rounded text-[16px] hover:scale-110 px-0.5 py-0.5 cursor-pointer"
            (click)="onJoin()"
          >
            <ng-icon name="heroDocumentPlus"></ng-icon>
          </button>
          }
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-2 sm:gap-x-20 gap-y-3 mt-3 mb-3">
      <div class="grid grid-cols-[80px_1fr] items-start gap-x-4">
        <span class="text-sm font-medium">Name:</span>
        <span class="text-sm min-w-0 break-words">{{ v.s.name.toUpperCase() }}</span>
      </div>
      <div class="grid grid-cols-[80px_1fr] items-start gap-x-4">
        <span class="text-sm font-medium">Eamil:</span>
        <span class="text-sm min-w-0 break-words">{{ v.s.email }}</span>
      </div>
      <div class="grid grid-cols-[80px_1fr] items-start gap-x-4">
        <span class="text-sm font-medium">Gender:</span>
        <span class="text-sm min-w-0 break-words">{{ v.s.gender }}</span>
      </div>
      <div class="grid grid-cols-[80px_1fr] items-start gap-x-4">
        <span class="text-sm font-medium">Phone:</span>
        <span class="text-sm min-w-0 break-words">{{ v.s.phone }}</span>
      </div>
      <div class="grid grid-cols-[80px_1fr] items-start gap-x-4">
        <span class="text-sm font-medium">Address:</span>
        <span class="text-sm">{{ v.s.address }}</span>
      </div>
    </div>
  </div>
  } @if (v.j) { @if (joinCIds().size > 0) {
  <div
    class="sticky top-4 sm:top-4 z-30 rounded border border-none bg-white px-3 py-1 mt-4 mb-4 sticky:back-drop:bg-black/50"
  >
    <div class="flex justify-between mt-3 text-sm">
      <div class="flex gap-6">
        <button
          class="border border-none rounded px-2 py-0.5 bg-red-200 hover:bg-red-300 cursor-pointer"
          (click)="removeAll()"
        >
          Clear All
        </button>
        @if (flash() && flash() === 'Course is full!') {
        <p class="text-sm border border-none shadow rounded bg-red-400 text-white px-2 py-0.5">
          {{ flash() }}
        </p>
        } @if (flash() && flash() === 'Only can join 10 courses at once!') {
        <p class="text-sm border border-none shadow rounded bg-red-400 text-white px-2 py-0.5">
          {{ flash() }}
        </p>
        }
      </div>
      <button
        class="border border-none rounded px-2 py-0.5 bg-blue-200 hover:bg-blue-400 cursor-pointer"
        (click)="joinC()"
      >
        {{ joinStart() ? 'Joining...' : 'Join' }}
      </button>
    </div>
    <div class="flex flex-wrap gap-5 mt-4 mb-4">
      @for (c of joinCList(); track c.id) {
      <button
        class="flex items-center text-sm bg-zinc-300 rounded px-2 py-1 cursor-pointer"
        (click)="removeJoin(c)"
      >
        {{ c.name }}
        <ng-icon name="heroXMark" class="mt-0.5" color="black"></ng-icon>
      </button>
      }
    </div>
  </div>
  }
  <div class="flex justify-between mb-2 mt-4 mx-1">
    <div class="flex items-center">
      <input
        type="search"
        (keydown.enter)="onEnter()"
        [formControl]="search"
        placeholder="Search..."
        class="border rounded bg-white px-1 text-sm py-1 placeholder:text-gray-400 outline-none focus:border-blue-400 border-black"
      />
    </div>
    <div class="mr-1.5">
      <button
        class="border rounded bg-white px-1 hover:bg-gray-200 text-sm py-1 mr-4 cursor-pointer"
        [disabled]="v.q.p === 1"
        (click)="prePage(v.q.p)"
      >
        Prev
      </button>
      @for (n of range(v.f.m.totalPages); track n) {
      <button
        class="text-[#FF9A00] px-2 cursor-pointer text-sm py-1 ml-2 mr-2"
        [class.bg-white]="n == v.q.p"
        [class.rounded]="n == v.q.p"
        [class.bg-blue-200]="n == v.q.p"
        (click)="goToPage(n)"
      >
        {{ n }}
      </button>
      }
      <button
        class="border rounded bg-white px-1 hover:bg-gray-200 text-sm py-1 ml-1 cursor-pointer"
        [disabled]="v.q.p === v.f.m.totalPages"
        (click)="nextPage(v.q.p)"
      >
        Next
      </button>
    </div>
  </div>
  @if (filteredC.length === 0) {
  <p class="text-sm text-white text-center mt-20">Not found</p>
  } @else {
  <div class="pb-5 px-1">
    <div class="relative overflow-x-auto border rounded">
      <table class="table-auto min-w-full">
        <thead class="bg-gray-200 text-sm font-medium">
          <tr class="text-left">
            <th class="px-2 py-1">No.</th>
            <th class="px-2 py-1">Name</th>
            <th class="px-2 py-1">Description</th>
            <th class="px-2 py-1">Limit</th>
            <th class="px-2 py-1">Current</th>
            <th class="px-2 py-1">Status</th>
            <th class="px-5 py-1">Start-Date</th>
            <th class="px-5 py-1">End-Date</th>
          </tr>
        </thead>
        <tbody class="divide-y">
          @for (c of filteredC; track c.id; let i = $index) {
          <tr
            class="cursor-pointer text-sm"
            [ngClass]="{
              'bg-blue-200': isSelected(c.id),
              'odd:bg-white': !isSelected(c.id),
              'even:bg-gray-100': !isSelected(c.id)
            }"
            (click)="selectJoin(c)"
          >
            <td class="px-2 py-2 w-24">{{ i + 1 }}</td>
            <td class="px-2 w-40">{{ c.name }}</td>
            <td class="px-2">{{ c.description }}</td>
            <td class="px-2">{{ c.limit }}</td>
            <td class="px-2">{{ c.current }}</td>
            <td
              class="px-2 w-[40px]"
              [class.bg-green-100]="c.status"
              [class.text-green-700]="c.status"
              [class.bg-red-100]="!c.status"
              [class.text-gray-700]="!c.status"
            >
              {{ c.status ? 'Active' : 'Inactive' }}
            </td>
            <td class="px-5 w-48">{{ c.start_date }}</td>
            <td class="px-5 py-2 w-48">{{ c.end_date }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  } } @else { @if (v.s.courses.length === 0) {
  <p class="text-center text-sm text-white font-medium mt-30">There is no course</p>
  } @else {
  <div class="relative overflow-x-auto bg-[#FBFBFB] border border-gray-300 rounded shadow mt-5">
    <table class="table-auto min-w-full">
      <thead class="text-sm font-medium text-left">
        <tr class="bg-gray-300">
          <th class="px-3 py-1">No.</th>
          <th class="px-3">Name</th>
          <th class="px-3">Description</th>
          <th class="px-3">Limit</th>
          <th class="px-3">Students</th>
          <th class="px-3">Start Date</th>
          <th class="px-3">End Date</th>
          <th class="px-3">Status</th>
          <th class="px-3"></th>
        </tr>
      </thead>
      <tbody class="divide-y text-sm">
        @for (c of v.s.courses; track c.id; let i = $index) {
        <tr>
          <td class="px-3 py-2">{{ i + 1 }}</td>
          <td class="px-3 py-2">{{ c.name }}</td>
          <td class="px-3 py-2">{{ c.description }}</td>
          <td class="px-3 py-1">{{ c.limit }}</td>
          <td class="px-3 py-1">{{ c.current }}</td>
          <td class="px-3 py-1">{{ c.startDate }}</td>
          <td class="px-3 py-1">{{ c.endDate }}</td>
          <td
            class="px-3 py-1"
            [class.bg-green-100]="c.courseStatus"
            [class.text-green-700]="c.courseStatus"
            [class.bg-red-100]="!c.courseStatus"
          >
            {{ c.courseStatus ? 'Active' : 'Inactive' }}
          </td>
          <td class="px-3">
            @if (onDeleteId() === c.id) {
            <ng-icon name="heroArrowPath"></ng-icon>

            } @else {
            <button
              class="inline-flex justify-center items-center px-1 py-0.5 border border-none rounded bg-red-300 text-white cursor-pointer hover:bg-red-400 hover:scale-110"
              (click)="onCancel(c.id); $event.stopImmediatePropagation(); $event.preventDefault()"
            >
              <ng-icon name="heroMinus"> </ng-icon>
            </button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } }
</div>
} @else {
<span>Failed to load student detail</span>
} } @placeholder {
<span>Loading Detail...</span>
} @loading {
<span>Loading</span>
} @error { Coundn't load student detail }
