@let s = state();

<div  class="flex justify-end mb-6 mt-0.5">
            @if (flash()) {
                <div class="
                text-sm
                border-none
                shadow
                bg-green-200
                rounded-[6px]
                text-green-600
                px-2
                pb-1
                pt-1
                mr-5
                ">
                {{ flash() }}
            </div>
            }   
            <button
            class="
            flex items-center justify-center
            text-sm
            mr-4
            border
            border-gray-400
            px-3
            bg-blue-300
            hover:bg-blue-400
            hover:text-white
            cursor-pointer
            rounded
            "
            type="button"
            routerLink="/students/new"
            >
        <ng-icon name="heroUserPlus" class="h-5 w-5 mt-0.5 mr-1 text-sm"></ng-icon>
        New    
        </button>
            <input
            type="search"
            placeholder="Search By Name"
            class="
            placeholder:text-gray-400
            bg-white
            border
            border-black
            outline-none
            focus:border-blue-500 text-sm
            px-2
            py-1
            rounded
            mr-2
            "
            [formControl]="q" />
            <p
            class="
            text-sm mt-1 text-white mr-2
            "
            >Total:  {{s.total}}</p>
        </div>
@switch (s.kind) {
    @case ('loading') {
        <div>Loading...</div>
    }
    @case ('error') {
        <div>{{s.message}}</div>
    }
    @case ('ok') {
        @if (s.students.length===0){
            <p>No students found.</p>
        } @else {
            <div class="relative overflow-x-auto border
            border-gray-300 shadow mx-auto mb-5 pb-5
            rounded">
                <table class="table-auto min-w-full px-2">
                <thead class="bg-gray-200">
                    <tr class="text-left text-sm">
                        <th class="px-3">No.</th>
                        <th class="px-3 py-1.5">Name</th>
                        <th class="px-3">Eamil</th>
                        <th class="px-3">Phone</th>
                        <th class="px-3">Address</th>
                        <th class="px-3">Gender</th>
                        <th class="px-3">Status</th>
                        <th class="px-3">Courses</th>
                        <th class="px-3"></th>
                    </tr>
                </thead>
                <tbody class="divide-y">
                    @for (st of s.students; track st.id ; let i = $index){
                        <tr class="odd:bg-white even:bg-gray-100"
                        [routerLink]="['/students', st.id, 'detail']"
                        >
                            <td class="px-3 w-[50px]">{{i + 1}}</td>
                            <td class="px-3 py-1 w-[60px]">{{st.name}}</td>
                            <td class="px-3 w-[50px]">{{st.email}}</td>
                            <td class="px-3 w-fit">{{st.phone}}</td>
                            <td class="px-3 w-fit">{{st.address}}</td>
                            <td class="px-3 w-fit">{{st.gender}}</td>
                            <td 
                            class="px-3 w-fit"
                            [class.bg-green-100]="st.status"
                            [class.text-green-700]="st.status"
                            [class.bg-red-100]="!st.status"
                            [class.text-gray-700]="!st.status"
                            >{{st.status ? 'Active' : 'Inactive'}}</td>
                            <td
                            class="px-3"
                            >{{st.courses.length}}</td>
                            <td>
                                @if (deleteId() === st.id) {
                                    <ng-icon name="heroArrowPath"></ng-icon>
                                } @else {<ng-icon name="heroArchiveBoxXMark"
                                (click)="delete(st.id); $event.stopPropagation(); $event.preventDefault()"
                                ></ng-icon>}
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        }
    }
}